{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% include "navbar.html" %}
	<!-- Right Panel -->
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/bootstrap.css' %}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
		

    <div id="right-panel" class="right-panel">

        {% include "header.html" %}

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-6">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Reportes</h1>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <strong class="card-title">Consulta de Registros</strong>
	                        </div>
                                {% if status == False %}
                                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                    <span class="badge badge-pill badge-danger">Error</span>
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                              	{% endif %}
	                        <form action="{% url 'consulta_registros' %}" method="post">
		                        <div class="card-body col-lg-6">

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="hf-carga" class=" form-control-label">Numero de carga:</label>
	                                	</div>
	                                	<div class="col-12 col-md-9">
		                                	<input type="text" id="carga" name="numero_carga" placeholder="" class="form-control">
		                                </div>
	                                </div>

	                                
	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="bandeja" class=" form-control-label">Número de bandeja:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="bandeja" name="numero_bandeja" placeholder="" class="form-control">
	                                	</div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="ruta" class=" form-control-label">Ruta:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="ruta" name="ruta" placeholder="" class="form-control" value="">
	                                    </div>
									</div>
									<div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="ruta" class=" form-control-label">Destino:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="destino" name="destino" placeholder="" class="form-control" value="">
	                                    </div>
	                                </div>
                                </div>
                                <div class="card-body col-lg-6">
	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="local" class=" form-control-label">Transportista:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="trans" name="trans" placeholder="" class="form-control">
	                                    </div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="fecini" class=" form-control-label">Fecha de carga inicial:</label>
                                        </div>
                                        <div class="col-12 col-md-9 input-group">
                                        	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                                    	<input type="text" id="fecini" name="fecini" placeholder="" class="form-control" autocomplete="" required>
	                                    </div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="fecfin" class=" form-control-label">Fecha de carga final:</label>
                                        </div>
                                        <div class="col-12 col-md-9 input-group">
                                        	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                                    	<input type="text" id="fecfin" name="fecfin" placeholder="" class="form-control" autocomplete="" required>
	                                    </div>
	                                </div>	                                
		                        </div>
		                        <div class="card-body col-lg-12">
			                        <div class="form-actions form-group">
		                                <button type="submit" value="Upload" class="btn btn-primary btn-sm">Buscar</button>
		                            </div>
		                        </div>
	                        </form>
	                    </div>
	                </div>
	                {% if resumen %}
	                <div class="col-lg-12">
	                    <div class="card">
	                    	<div class="card-body">
	                            <table id="t1" class="table table-striped" style="font-size:12px">
	                            	<thead>
	                                    <tr>
	                                    	<th></th>

			                                {% for control in resumen.control %}
			                                	<th>{{ control }}</th>
			                                {% endfor %}		                            	
	                                    </tr>
	                                </thead>
		                            <tbody>
		                            	<tr>
		                            		<th>Total</th>
			                                
			                                {% for total in resumen.total %}
											<th>{{ total }}</th>
			                                {% endfor %}
			                            </tr>
			                            <tr>
			                            	<th>Dentro de Geocerca</th>
			                                
			                                
			                                {% for dentro in resumen.dentro%}
											<th class="text-success">{{ dentro }}</th>
			                                {% endfor %}
			                                
										</tr>
										
										<tr>
			                            	<th>Fuera de Geocerca</th>
			                                
			                                
			                                {% for fuera in resumen.fuera %}
											<th class = "text-danger">{{fuera }}</th>
			                                {% endfor %}
			                                
	                                    </tr>
	                                    
									</tbody>
								</table>
								<button onclick="exportTableToExcel('t1','resumen')">Exportar</button>
	                        </div>
	                        <div class="card-body filterable">
									<form action = "{% url 'excel_r' %}" method="post" enctype="multipart/form-data" target="_blank">	
										{% csrf_token %}
	                            <table id="t2" class="table table-striped" style="font-size:12px">
	                            	<thead>
	                                    <tr class="filters">
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											{% for control in resumen.control %}
												{% if control != 'Objetivo' %}
												<th><select>
														<option value="">...</option>
														<option style="background-color: #07A34F;color: #07A34F;" value="x">x</option>
														<option style="background-color: #b3b3b3;color: #b3b3b3;" value=".">.</option>
														<option style="background-color: #F61723;color: #F61723;" value="-">-</option>
													</select></th>
												{% endif %}
											{% endfor %}
												<th><input type="text" style="width:50%;"></th>
											</tr>
											<tr>
											<th></th>
	                                    	<th>Número de Carga</th>
			                                <th>Número de Bandeja</th>
			                                <th>#Controles</th>
											<th>Ruta</th>
											<th>Destino</th>
											<th>Fecha de carga</th>
											<th>Transportista</th>
											{% for control in resumen.control %}
												{% if control != 'Objetivo' %}
												<th>{{ control }}</th>
												{% endif %}
											{% endfor %}
											<th>Otras marcas</th>		
	                                    </tr>
									</thead>
									<tbody>

									
										
									{% for detalle in resumen.detalles %}
									<input type="hidden" name="data1[]" value="{{ detalle.numero_carga }}" />
									<input type="hidden" name="data2[]" value="{{ detalle.numero_lpn}}" />
									<input type="hidden" name="data3[]" value="{{ detalle.numero_controles }}" />
									<input type="hidden" name="data4[]" value="{{ detalle.ruta_codigo  }}" />
									<input type="hidden" name="data5[]" value="{{ detalle.destino }}" />
									<input type="hidden" name="data6[]" value="{{ detalle.fecha_carga  }}" />
									<input type="hidden" name="data7[]" value="{{ detalle.transportista  }}" />
									<input type="hidden" name="control[]" value="{{ detalle.control }}" />
									<input type="hidden" name="om[]" value="{{ detalle.om }}" />
									<tr id="{{ detalle.numero_lpn }}" class="block {{ detalle.numero_carga }}" style="display: {{ detalle.display }}">
										<td>	
										{% if detalle.display != 'none' %}
											<a class="a1" style="font-size:16px;font-weight:bold;padding:6px;" href="{{ detalle.numero_carga }}">+</a>
										{% endif %}
										</td>
										<td>{{ detalle.numero_carga }}</td>
										<td>{{ detalle.numero_lpn }}</td>
										<td>{{ detalle.numero_controles }}</td>
										<td>{{ detalle.ruta_codigo }}</td>
										<td>{{ detalle.destino }}</td>										
										<td>{{ detalle.fecha_carga }}</td>
										<td>{{ detalle.transportista  }}</td>
										{% for cnt in detalle.control %}
										
											{% if cnt == 'all' %}
											<td style="background-color: #07A34F; color: black; text-align: center; vertical-align: middle;">X</td>	
											{% elif 'x' in cnt %}
											<td style="background-color: #07A34F;text-align: center;vertical-align: middle;"><a style="color: black;" href="{% url 'up_modal1' detalle.numero_lpn cnt %}" class="btn" target="_blank">X</a></td>	
											{% elif '.' in cnt %}
											<td style="background-color: #b3b3b3; color: #b3b3b3;">.</td>
											{% elif '-' in cnt %}
											<td style="background-color: #F61723; color:#F61723;">-</td>
											{% else %}
											<td>{{ cnt }}</td>
											{% endif%}
											
										{% endfor %}
										{% if detalle.om != 0 %}
											<td style="background-color: #F8E903; text-align: center;vertical-align: middle;"><a style="color: black"; href="{% url 'up_modal1' detalle.numero_lpn 'fuera' %}" class="btn" target="_blank">{{ detalle.om }}</a></td>
										{% else %}
											<td></td>
										{% endif%}
									</tr>


									{% endfor %}
									
									</tbody>

									
								</table>
								
								<button type="submit">Exportar</button>
								</form>
	                        </div>
	                    </div>
	                </div>
	                {% endif %}
                </div>
        	</div><!-- .animated -->
    	</div><!-- .content -->
    	<div class="clearfix"></div>
{% endif %}


		
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
		<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

		
		
		

        <script type="text/javascript">
            $(function () {
		        $('#fecini').datetimepicker({
		        	format: 'DD/MM/YYYY 00:00:00',
		        });
		        $('#fecfin').datetimepicker({
		        	format: 'DD/MM/YYYY 23:59:59',
		            useCurrent: false //Important! See issue #1075
		        });
		        $("#fecini").on("dp.change", function (e) {
		            $('#fecfin').data("DateTimePicker").minDate(e.date);
		        });
		        $("#fecfin").on("dp.change", function (e) {
		            $('#fecini').data("DateTimePicker").maxDate(e.date);
		        });

		        $(".a1").click(function(event) {
	                var href = $(this).attr('href');
	                

	                
	                if ($(this).closest('tr').hasClass('block')){
	                	$(this).html('-')
	                	$(this).closest('tr').first().addClass('table-row')
	                	$(this).closest('tr').addClass('none')
	                	$(this).closest('tr').removeClass('block')
	                	$('.'+href).closest('tr').css("display", "table-row");
	                }else{
	                	$(this).html('+')
	                	$('.'+href).closest('tr').css("display", "none");
	                	$('.'+href).closest('tr').first().css("display", "table-row");
	                	$(this).closest('tr').removeClass('none')
	                	$(this).closest('tr').addClass('block')
	                }
	                
	                event.preventDefault();
	            });

				
		    });

		
			
		</script>
		
		<script>			
			$(document).ready(function(){
			$('.filterable .filters select').change(function(e){
				/* Ignore tab key */
				var code = e.keyCode || e.which;
				if (code == '9') return;
				/* Useful DOM data and selectors */
				var $input = $(this),
				inputContent = $input.val().toLowerCase(),
				$panel = $input.parents('.filterable'),
				column = $panel.find('.filters th').index($input.parents('th')),
				$table = $panel.find('.table'),
				$rows = $table.find('tbody tr');
				/* Dirtiest filter function ever ;) */
				var $filteredRows = $rows.filter(function(){
					var value = $(this).find('td').eq(column).text().toLowerCase();
					return value.indexOf(inputContent) === -1;
				});
				/* Clean previous no-result if exist */
				$table.find('tbody .no-result').remove();
				/* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
				$rows.show();
				$filteredRows.hide();
				/* Prepend no-result row if all rows are filtered */
				if ($filteredRows.length === $rows.length) {
					$table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No hay resultados</td></tr>'));
				}
			});
			$('.filterable .filters input').keyup(function(e){
				/* Ignore tab key */
				var code = e.keyCode || e.which;
				if (code == '9') return;
				/* Useful DOM data and selectors */
				var $input = $(this),
				inputContent = $input.val().toLowerCase(),
				$panel = $input.parents('.filterable'),
				column = $panel.find('.filters th').index($input.parents('th')),
				$table = $panel.find('.table'),
				$rows = $table.find('tbody tr');
				/* Dirtiest filter function ever ;) */
				var $filteredRows = $rows.filter(function(){
					var value = $(this).find('td').eq(column).text().toLowerCase();
					return value.indexOf(inputContent) === -1;
				});
				/* Clean previous no-result if exist */
				$table.find('tbody .no-result').remove();
				/* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
				$rows.show();
				$filteredRows.hide();
				/* Prepend no-result row if all rows are filtered */
				if ($filteredRows.length === $rows.length) {
					$table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No hay resultados</td></tr>'));
				}
			});
			});
		</script>

		<script>
			function exportTableToExcel(tableID, filename = ''){
				
				var downloadLink;
				var dataType = 'application/vnd.ms-excel';
				var tableSelect = document.getElementById(tableID);
				var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
				
				// Specify file name
				filename = filename?filename+'.xls':'excel_data.xls';
				
				// Create download link element
				downloadLink = document.createElement("a");
				
				document.body.appendChild(downloadLink);
				
				if(navigator.msSaveOrOpenBlob){
					var blob = new Blob(['ufeff', tableHTML], {
						type: dataType
					});
					navigator.msSaveOrOpenBlob( blob, filename);
				}else{
					// Create a link to the file
					downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
				
					// Setting the file name
					downloadLink.download = filename;
					
					//triggering the function
					downloadLink.click();
				}
			}
			
		</script>
				
{% endblock %}