{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% include "navbar.html" %}
	<!-- Right Panel -->
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/bootstrap.css' %}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
		

    <div id="right-panel" class="right-panel">

        {% include "header.html" %}

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-6">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Marcas {{ equis.estado }}</h1>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <strong class="card-title">Detalles Marcas</strong>
                            </div>
                            <div class="card-body col-lg-12 text-center">
							{% for x in equis.equis %} 
								{% if equis.estado == 'Dentro' %}
									<div class="col-lg-12 float-left">
										control {{x.control}}: {{ x.nombre }}
									</div>
								
									<div class="col-lg-12 float-left">
										Latitud y Longitud: {{ x.punto }}
									</div>
									
									<div class="col-lg-12 float-left" style="margin-bottom: 25px;">
										Fecha y Hora de Marca: {{ x.fecha}}
									</div>
								{% else %}
									<div class="col-lg-12 float-left">
										Marca {{x.marca}}
									</div>
									<div class="col-lg-12 float-left">
										Nombre: {{ x.nombre }}
									</div>
									<div class="col-lg-12 float-left">
										Dirección: {{ x.dir }}
									</div>
									<div class="col-lg-12 float-left">
										Latitud y Longitud: {{ x.punto }}
									</div>
									
									<div class="col-lg-12 float-left" style="margin-bottom: 25px;">
										Fecha y Hora de Marca: {{ x.fecha}}
									</div>
								{% endif %}   
                            {% endfor %}
                        </div>
	                    </div>
	                </div>
	                
                </div>
        	</div><!-- .animated -->
    	</div><!-- .content -->
    	<div class="clearfix"></div>
{% endif %}


		
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
		<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

		
		
		

        <script type="text/javascript">
            $(function () {
		        $('#fecini').datetimepicker({
		        	format: 'DD/MM/YYYY HH:mm:ss',
		        });
		        $('#fecfin').datetimepicker({
		        	format: 'DD/MM/YYYY HH:mm:ss',
		            useCurrent: false //Important! See issue #1075
		        });
		        $("#fecini").on("dp.change", function (e) {
		            $('#fecfin').data("DateTimePicker").minDate(e.date);
		        });
		        $("#fecfin").on("dp.change", function (e) {
		            $('#fecini').data("DateTimePicker").maxDate(e.date);
		        });

		        $(".a1").click(function(event) {
	                var href = $(this).attr('href');
	                

	                
	                if ($(this).closest('tr').hasClass('block')){
	                	$(this).html('-')
	                	$(this).closest('tr').first().addClass('table-row')
	                	$(this).closest('tr').addClass('none')
	                	$(this).closest('tr').removeClass('block')
	                	$('.'+href).closest('tr').css("display", "table-row");
	                }else{
	                	$(this).html('+')
	                	$('.'+href).closest('tr').css("display", "none");
	                	$('.'+href).closest('tr').first().css("display", "table-row");
	                	$(this).closest('tr').removeClass('none')
	                	$(this).closest('tr').addClass('block')
	                }
	                
	                event.preventDefault();
	            });

				
		    });

		
			
		</script>
		

{% endblock %}
     
