{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% include "navbar.html" %}
	<!-- Right Panel -->
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/bootstrap.css' %}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <div id="right-panel" class="right-panel">

        {% include "header.html" %}

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-6">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Pre Liquidación</h1>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <strong class="card-title">Pre Liquidación</strong>
	                        </div>
	                        <form action="{% url 'pre_liquidacion' %}" method="post">
		                        <div class="card-body col-lg-6">

	                                <div class="row form-group">
                                        <div class="col col-md-6">
                                        	<label for="hf-carga" class=" form-control-label">Numero de carga:</label>
	                                	</div>
	                                	<div class="col-12 col-md-9">
		                                	<input type="text" id="carga" name="numero_carga" placeholder="" class="form-control">
		                                </div>
	                                </div>

	                                
	                                <!-- <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="bandeja" class=" form-control-label">Número de bandeja:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="bandeja" name="numero_bandeja" placeholder="" class="form-control">
	                                	</div>
	                                </div> -->
                                </div>
                                <div class="card-body col-lg-6">
	                                <div class="row form-group">
                                        <div class="col col-md-6">
                                        	<label for="fecini" class=" form-control-label">Fecha de carga inicial:</label>
                                        </div>
                                        <div class="col-12 col-md-9 input-group">
                                        	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                                    	<input type="text" id="fecini" name="fecini" placeholder="" class="form-control" required>
	                                    </div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-6">
                                        	<label for="fecfin" class=" form-control-label">Fecha de carga final:</label>
                                        </div>
                                        <div class="col-12 col-md-9 input-group">
                                        	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                                    	<input type="text" id="fecfin" name="fecfin" placeholder="" class="form-control" required>
	                                    </div>
	                                </div>	                                
		                        </div>
		                        <div class="card-body col-lg-12">
			                        <div class="form-actions form-group">
		                                <button type="submit" value="Upload" class="btn btn-primary btn-sm">Buscar</button>
		                            </div>
		                        </div>
	                        </form>
	                    </div>
	                </div>
	                <div class="col-lg-12">
	                    <div class="card">
	                        <div class="card-body">
	                            <table class="table table-striped" style="font-size:12px">
	                            	<thead>
	                                    <tr>
	                        
                                            <th>Número de Carga</th>
                                            <th>Tienda</th>
			                                <th>Número de Bultos</th>
                                            <th>Peso (Kg.)</th>
                                            <!-- <th>Tarifa</th> -->
			                                <th>A Pagar Cumple (S/.)</th>
											<th>A Pagar General (S/.)</th>
	                                    </tr>
	                                </thead>
		                            <tbody>
										<form name="form" method="post" action="{% url 'export-pre-liquidacion' %}">
											{% csrf_token %}
											{% for detalle in detalles %}
												{% include 'export_hidden_pre_liquidacion.html' with detalle=detalle %}
												<input type="hidden" name="gran_total" value="{{ gran_total }}">
												<input type="hidden" name="total_item_paid_general" value="{{ total_item_paid_general }}">
												<tr>
													<td>{{ detalle.numero_carga }}</td>
													<td>{{ detalle.tienda }}</td>
													<td>{{ detalle.numero_bultos }}</td>
													<td>{{ detalle.pesos }}</td>
													<!-- <td>{{ detalle.tarifa }}</td> -->
													<td>{{ detalle.total }}</td>
													<td>{{ detalle.item_paid_general }}</td>
												</tr>
											{% endfor %}
											{% if detalles %}
											<tr><td colspan="6">&nbsp;</td></tr>
											<tr>
												<td colspan="4">&nbsp;</td>
												<td>Total a pagar cumple</td>
												<td>{{ gran_total }}</td>
											</tr>
											<tr>
												<td colspan="4">&nbsp;</td>
												<td>Total a pagar general</td>
												<td>{{ total_item_paid_general }}</td>
											</tr>
											<tr>
												<td colspan="6"><button type="submit">Exportar</button></td>

											</tr>
											{% endif %}
										</form>
									</tbody>
								</table>
								<div>

								</div>
								<div class="pagination">
								    <span class="step-links">
								        {% if data.has_previous %}
								            <a href="?page=1">&laquo; first</a>
								            <a href="?page={{ data.previous_page_number }}">previous</a>
								        {% endif %}

								        <span class="current">
								            Page {{ data.number }} of {{ data.paginator.num_pages }}.
								        </span>

								        {% if data.has_next %}
								            <a href="?page={{ data.next_page_number }}">next</a>
								            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
								        {% endif %}
								    </span>
								</div>
	                        </div>
	                    </div>
	                </div>
                </div>
        	</div><!-- .animated -->
    	</div><!-- .content -->
    	<div class="clearfix"></div>
    	

{% endif %}
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

        <script type="text/javascript">
            $(function () {
            	$('#fecha_registro').datetimepicker({
		        	format: 'YYYY-MM-DD HH:mm:ss',
		        });

		        $('#fecini').datetimepicker({
		        	format: 'DD/MM/YYYY 00:00:00',
		        });
		        $('#fecfin').datetimepicker({
		        	format: 'DD/MM/YYYY 23:59:59',
		            useCurrent: false //Important! See issue #1075
		        });
		        $("#fecini").on("dp.change", function (e) {
		            $('#fecfin').data("DateTimePicker").minDate(e.date);
		        });
		        $("#fecfin").on("dp.change", function (e) {
		            $('#fecini').data("DateTimePicker").maxDate(e.date);
		        });
		    });

		    $('#modal-registro').click( function(){
		    	var numero_bandeja = $(this).data('bandeja');
		    	$('#numero_bandeja').val(numero_bandeja);
		    })

		    $('#registroManuaScaner').submit( function(e){
		    	$('#registroManual').attr("disabled", true);
		    	e.preventDefault();
		    	var data = $(this).serialize();
		    	$('.alert-success').hide();
		    	$('.alert-danger').hide();
		    	$.ajax({
	                type: "GET",
	                url: "/registro_manual_scaner/",
	                data: data,
	                cache: false,
	                async: false,
	                success: function(result) {
	                    console.log(result)
	                    if (result.status){
	                    	$('.alert-success').show();
	                    	$('.alert-success p').append(result.message);
	                    	setTimeout(function(){ 
	                    		url = window.location.host;
	                    		console.log(url);
	                    		window.location.reload(url+'/registro_manual/');
	                    	}, 2000);
	                    }else{
	                    	$('.alert-danger').show();
	                    	$('.alert-danger').append(result.message);
	                    	$('#registroManual').attr("disabled", false);
	                    }
	                },
	                error: function(result) {
	                    $('.alert-danger').show();
	                    $('.alert-danger').append('Lo sentimos hubo problemas de validación, por favor vuleva a intentarlo.');
	                    $('#registroManual').attr("disabled", false);
	                }
	            });
		    })
        </script>
{% endblock %}